
@mixin mobile {
    @media screen and (max-width: 480px) {
      @content;
    }
  }
  @mixin tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  @mixin laptop {
    @media screen and (max-width: 1200px) {
      @content;
    }
  }
  .formContainer {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .formWrapper {
      background-color: white;
      padding: 20px 60px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
  
      .logo {
        color: #5d5b8d;
        font-weight: bold;
        font-size: 24px;
  
      }
  
      .title {
        color: #5d5b8d;
        font-size: 12px;
      }
  
      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
  
        input {
          padding: 15px;
          border: none;
          width: 250px;
          border-bottom: 1px solid #a7bcff;
          &::placeholder {
            color: rgb(175, 175, 175);
          }
        }
  
        button {
          background-color: #7b96ec;
          color: white;
          padding: 10px;
          font-weight: bold;
          border: none;
          cursor: pointer;
        }
  
        label {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #8da4f1;
          font-size: 12px;
          cursor: pointer;
          img {
            width: 32px;
          }
        }
      }
      p {
        color: #5d5b8d;
        font-size: 12px;
        margin-top: 10px;
      }
    }
  }
  //home
  
  .home {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .light-mode {
      background-color: #fff;
      color: #000;
    }
    
    .dark-mode {
      background-color: #222;
      color: #fff;
    }
    .container {
      border: 1px solid white;
      border-radius: 10px;
      width: 65%;
      height: 80%;
      display: flex;
      overflow: hidden;
      @include tablet {
       width: 90%;
      }
  
      .sidebar {
        flex: 1;
        background-color: #3e3c61;
        position: relative;
        height: 100%;
        .chatroom{
          max-height: 92%;
        }
        .navbar {
          display: flex;
          align-items: center;
          background-color: #2f2d52;
          min-height: 7.4%;
          // padding: 10px;
          justify-content: space-between;
          color: #ddddf7;
          position: absolute;
          .logo {
            font-weight: bold;
            @include tablet {
              display: none;
            }
          }
  
          .user {
            display: flex;
            gap: 10px;
  
            img {
              background-color: #ddddf7;
              height: 24px;
              width: 24px;
              border-radius: 50%;
              object-fit: cover;
            }
  
            button {
              background-color: #5d5b8d;
              color: #ddddf7;
              font-size: 10px;
              border: none;
              cursor: pointer;
              @include tablet {
                position: absolute;
                bottom: 10px;
              }
            }
          }
        }
        .search {
          border-bottom: 1px solid gray;
          max-height: 40%;
          overflow: auto;
          .searchForm {
            padding: 10px;
  
            input {
              background-color: transparent;
              border: none;
              color: white;
              outline: none;
  
              &::placeholder {
                color: lightgray;
              }
            }
          }
        }
  
        .userChat {
          padding: 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          color: white;
          cursor: pointer;
  
          &:hover {
            background-color: #2f2d52;
          }
  
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
  
          .userChatInfo {
            span {
              font-size: 18px;
              color:darkturquoise;
              font-weight: 500;
            }
            p {
              font-size: 14px;
              color: lightgray;
            }
          }
        }
      }
      .chat {
        flex: 2;
        height: 100%;
        .chatInfo {
          min-height: 8%;
          // background-color: #5d5b8d;
          display: flex;
          justify-content: space-between;
          padding-top: 10px;
          color: lightgray;
          .chatIcons {
            display: flex;
            gap: 10px;
            align-content: center;
            .centered-container {
              position: fixed;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background-color: #fff;
              padding: 20px;
              border-radius: 8px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              z-index: 9999; /* Đảm bảo nó hiển thị phía trên các component khác */
            }
            
            img {
              height: 24px;
              cursor: pointer;
            }
          }
        }
        .messages{ 
          height: 83%;
          min-height: 80%;
          z-index: 0;
        }
        .sendchat{
          margin-top: 10px;
          min-height: 8%;
          width: 100%;
          z-index: 0;
          // height: 8%;
        }
  
     
  
        // .messages {
        //   background-color: #ddddf7;
        //   padding: 10px;
        //   height: calc(100% - 160px);
        //   overflow: scroll;
  
        //   .message {
        //     display: flex;
        //     gap: 20px;
        //     margin-bottom: 20px;
  
        //     .messageInfo {
        //       display: flex;
        //       flex-direction: column;
        //       color: gray;
        //       font-weight: 300;
  
        //       img {
        //         width: 40px;
        //         height: 40px;
        //         border-radius: 50%;
        //         object-fit: cover;
        //       }
        //     }
        //     .messageContent {
        //       max-width: 80%;
        //       display: flex;
        //       flex-direction: column;
        //       gap: 10px;
  
        //       p {
        //         background-color: white;
        //         padding: 10px 20px;
        //         border-radius: 0px 10px 10px 10px;
        //         max-width: max-content;
        //       }
  
        //       img {
        //         width: 50%;
        //       }
        //     }
  
        //     &.owner {
        //       flex-direction: row-reverse;
  
        //       .messageContent {
        //         align-items: flex-end;
        //         p {
        //           background-color: #8da4f1;
        //           color: white;
        //           border-radius: 10px 0px 10px 10px;
        //         }
        //       }
        //     }
        //   }
        // }
  
        // .input {
        //   height: 50px;
        //   background-color: white;
        //   padding: 10px;
        //   display: flex;
        //   align-items: center;
        //   justify-content: space-between;
  
        //   input {
        //     width: 100%;
        //     border: none;
        //     outline: none;
        //     color: #2f2d52;
        //     font-size: 18px;
  
        //     &::placeholder {
        //       color: lightgray;
        //     }
        //   }
  
        //   .send {
        //     display: flex;
        //     align-items: center;
        //     gap: 10px;
  
        //     img {
        //       height: 24px;
        //       cursor: pointer;
        //     }
  
        //     button {
        //       border: none;
        //       padding: 10px 15px;
        //       color: white;
        //       background-color: #8da4f1;
        //       cursor: pointer;
        //     }
        //   }
        // }
      }
    }
  }

  $white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

.google-btn {
  width: 122.67px; // 2/3 kích thước ban đầu (184px)
  height: 28px; // 2/3 kích thước ban đầu (42px)
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  .google-icon-wrapper {
    position: absolute;
    margin-top: 0.67px; // 2/3 kích thước ban đầu (1px)
    margin-left: 0.67px; // 2/3 kích thước ban đầu (1px)
    width: 26.67px; // 2/3 kích thước ban đầu (40px)
    height: 26.67px; // 2/3 kích thước ban đầu (40px)
    border-radius: 2px;
    background-color: $white;
  }
  .google-icon {
    position: absolute;
    margin-top: 7.33px; // 2/3 kích thước ban đầu (11px)
    margin-left: 7.33px; // 2/3 kích thước ban đầu (11px)
    width: 12px; // 2/3 kích thước ban đầu (18px)
    height: 12px; // 2/3 kích thước ban đầu (18px)
  }
  .btn-text {
    float: right;
    margin: 7.33px 7.33px 0 0; // 2/3 kích thước ban đầu (11px)
    color: $white;
    font-size: 9.33px; // 2/3 kích thước ban đầu (14px)
    letter-spacing: 0.1333px; // 2/3 kích thước ban đầu (0.2px)
    font-family: "Roboto";
  }
  &:hover {
    box-shadow: 0 0 4px $google-blue; // 2/3 kích thước ban đầu (6px)
  }
  &:active {
    background: $button-active-blue;
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
